main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $light-grayish-blue;
}

.grid-container {
  position: relative;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  scale: 0.8;
  animation: entrance 2s;

  @keyframes entrance {
    0% {
      opacity: 0;
      transform: translateY(-300%);
      filter: blur(15px);
    }
    100% {
      opacity: 1;
    }
  }
}

.grid-card {
  padding: 30px;
  border-radius: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 17px;

  img {
    border-radius: 50%;
    border: 3px solid $white;
  }

  p {
    opacity: 0.5;
  }
}

.profile-content {
  padding-top: 20px;
  h2 {
    font-size: 28px;
  }

  p {
    padding-top: 20px;
    font-size: 18px;
    opacity: 0.6;
  }
}

.purple-card {
  background: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 7vw top 1vh;
  background-color: $moderate-violet;
  color: $white;
  grid-column: 1 / 3;
}

.gray-card {
  background-color: $very-dark-grayish-blue;
  color: $white;
  grid-column: 3 / 4;
}

.white-card {
  background-color: $white;
  color: $very-dark-blackish-blue;
}

.black-card {
  background-color: $very-dark-blackish-blue;
  color: $white;
  grid-column: 2 / 4;
}

.right-w-card {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  width: 90%;
}

.left-w-card {
  grid-column: 1 / 2;
}
