main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $light-grayish-blue;
}

.grid-container {
  position: relative;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  scale: 0.8;
  animation: entrance 2s;

  @keyframes entrance {
    0% {
      opacity: 0;
      transform: translateY(-300%);
      filter: blur(5px);
    }
    100% {
      opacity: 1;
    }
  }
}
